
button {
    margin: 1.25rem;
    text-align: center;
  }
  .custom-btn {
    width: 5rem;
    color:black;
    border-radius: .3125rem;
    padding: .625rem 1.5625rem;
    font-family: 'Playfair Display', serif;
    font-size: .575rem;
    text-transform: uppercase;
    font-weight: 800;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset .125rem .125rem .125rem 0 rgba(255,255,255,.5),
     .4375rem .4375rem 1.25rem 0 rgba(0,0,0,.1),
     .25rem .25rem .3125rem 0 rgba(0,0,0,.1);
    outline: none;
    
  }

  .btn {
    background: #4dccc6;
    background: linear-gradient(315deg, #1a8cb8 0%, #96e4df 74%);
    border: none;
    
  }
  .btn:before {
    height: 0%;
    width: .125rem;
  }
  .btn:hover {
    box-shadow: .25rem .25rem .375rem 0 rgba(255,255,255,.5),
                -0.25rem -0.25rem .375rem 0 rgba(116, 125, 136, .5), 
                inset -0.25rem -0.25rem .375rem 0 rgba(255,255,255,.2),
                inset .25rem .25rem .375rem 0 rgba(0, 0, 0, .4);
    color: white;
    cursor: pointer;
  }