.LogoSection{
    background: linear-gradient( #0ed2f7, #b2fefa,aliceblue, aliceblue);

}


.MainSectionLogo {
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.MainSectionLogo img{
    object-fit: contain;
    
    height: 6.25rem;
}

@media screen and (min-width: 481px) and (max-width: 769px) {
    
    .MainSectionLogo img{
        
        height: 9.25rem;
    }
   
}

@media screen and (min-width: 770px){

    .MainSectionLogo img{
    
        height: 10.75rem;
    }

}
