@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro");

/* sezione completa tours */

.Tours {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Tours h2 {
  margin: 5rem;
}

.Tours .contener .cardContener .card .card-body .card-title h4 {
  font-weight: bold;
}

.allcards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}

/* div contentente i due div con img, titolo e didascalia */
.card {
  width: 17rem;
  background-color: white;
  box-shadow: 0 0.3125rem 1.25rem #555;
  border-radius: 1rem;
  margin-bottom: 2rem;

  display: flex;
  flex-flow: column nowrap;
}

.card a {
  color: #010196;
  border-radius: 0.2rem;
  text-decoration: none;
  font-size: 0.575rem;
  font-weight: bold;
}

a:hover {
  color: rgb(0, 95, 147);
  cursor: pointer;
}
/* .card:hover .card-image img {
	width: 110%;
	filter: grayscale(0);
} */

/* div contenente l'img della card */
.card-image {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* l'immagine del div padre */
.card-image img {
  width: 100%;
}
/* div contenente il titolo e la didascalia*/
.card-body {
  text-align: center;
  padding: 0.9375rem 1.25rem;
  box-sizing: border-box;
}

/* titolo della card */
.card-title {
  font-family: "Playfair Display", serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.0625rem;
  font-size: 0.55rem;
  color: #333;
  padding-bottom: 0;
}

/* paragrafo della card */
.card-exceprt {
  font-family: "Playfair Display", serif;
  font-size: 0.585rem;
  font-weight: 500;
  color: #333;
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  align-items: center;
}

#case-title {
  position: absolute;
  font: 1.125rem "Microsoft YaHei";
  top: 0.625rem;
  left: 0rem;
  right: 0rem;
  margin: auto;
  display: block;
  text-align: center;
  text-decoration: none;
}

button {
  padding: 0.275rem;
  font-size: 0.585rem;
  text-transform: uppercase;
  font-weight: 700;
}

.card h6 {
  font-size: 0.375rem;
}

@media screen and (min-width: 544px) and (max-width:599px) {
    .allcards {
        
      
        display: flex;
        /* flex-direction: column; */
        flex-flow: column nowrap;
      }
}

@media screen and (min-width: 600px) and (max-width: 950px) {
  .Tours h2 {
    margin: 3rem;
  }

  /* .cardContener {
    display: flex;
    flex-direction: row;
  } */

  .card {
    margin-right: 2rem;
  }

  .allcards {
    display: grid;
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .Tours h2 {
    margin: 2rem;
  }

  /* .cardContener {
    display: flex;
    flex-direction: row;
  } */

  .card {
    width: 22rem;
    margin: 4rem 3rem;
  }

  .card-title {
    font-size: 0.88rem;
  }

  .card-exceprt,
  .card a {
    font-size: 0.855rem;
  }
}

@media screen and (min-width: 1201px) {
  .Tours h2 {
    margin: 2rem;
  }

  /* .cardContener {
    display: flex;
    flex-direction: row;
  } */

  .card {
    width: 24rem;
    margin: 4rem 4rem;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-exceprt,
  .card a {
    font-size: 0.98rem;
  }
}
